# Python Web Scraping - Marcus Anthony Allen

In [1]:
# Import relevant libraries

import requests
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Access site with requests library

url = 'http://web.mta.info/developers/turnstile.html'
response = requests.get(url)

In [3]:
# If 200 the request was succesful

response

In [4]:
# Parse html from the site

soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
# Captures all <a> tags -- some of which contain the hyperlinks we want

tagsStartingWitha = soup.findAll('a')

In [6]:
# For loop creating a list with urls for each week in the past year
# I know the urls start on the 38th line and that each week (1/52) a new set of data is added

urls = []
start = 1
for a in tagsStartingWitha:
    if start >= 38 and start <= 38+(52*1):
        link = a.get('href')
        url = 'http://web.mta.info/developers/'+link
        urls.append(url)
    start +=1

In [7]:
# Print first and last url to ascertain the loop worked correctly

print(urls[0],urls[-1])

http://web.mta.info/developers/data/nyct/turnstile/turnstile_201031.txt http://web.mta.info/developers/data/nyct/turnstile/turnstile_191102.txt

In [9]:
# For loop creating a list of dataframes which are then concatenated into one dataframe

dataframes = []
for u in urls:
    dataframes.append(pd.read_csv(u))
    
oneframe = pd.concat(dataframes)

oneframe.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,00:00:00,REGULAR,7477474,2544276
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,04:00:00,REGULAR,7477477,2544276
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,08:00:00,REGULAR,7477488,2544294
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,12:00:00,REGULAR,7477522,2544334
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,16:00:00,REGULAR,7477644,2544363

In [15]:
# Saving data as csv

oneframe.to_csv('mtadata.csv',index = False)